<%- include ../partials/head.ejs %>

<<<<<<< Updated upstream
<main class="history">
  <aside>
    <section class="range-selector">
      <form>
        <fieldset>
          <h2>Eerste maand</h2>

          <label>
            <div>Jaar</div>
            <select name="firstYear" id="firstYear">
              <% dorpdownYears.forEach(function(year) { %>
                <option value="<%= year %>"><%= year %></option>
              <% }); %>
            </select>
          </label>

          <label>
            <div>Maand</div>
            <select name="firstMonth" id="firstMonth">
              <% dorpdownMonths.forEach(function(month) { %>
                <option value="<%= month %>"><%= dorpdownMonthNames[month - 1] %></option>
              <% }); %>
            </select>
          </label>
        </fieldset>

        <input type="checkbox" id="compare-checkbox">
        <label class="compare" for="compare-checkbox">
          Vergelijken
        </label>

        <fieldset class="compare-month">
          <h2>Tweede maand</h2>
          <label>
            <div>Jaar</div>
            <select name="secondYear" id="secondYear">
              <option selected value="0">Selecteer Jaar</option>
              <% dorpdownYears.forEach(function(year) { %>
              <option value="<%= year %>"><%= year %></option>
              <% }); %>
            </select>
          </label>

          <label>
            <div>Maand</div>

            <select name="secondMonth" id="secondMonth">
              <option selected value="0">Selecteer maand</option>
              <% dorpdownMonths.forEach(function(month) { %>
              <option value="<%= month %>"><%= dorpdownMonthNames[month - 1] %></option>
              <% }); %>
            </select>
          </label>
        </fieldset>
      </form>
    </section>
    <section id="compare">
      <div class="top">
        <h2>Energie verbruik eenheid:</h2>
        <label><input class="energyMargin" type="radio" name="energy" value="Wh" id="WhCheck" checked> Wh</label>
        <label><input class="energyMargin" type="radio" name="energy" value="kWh" id="kWhCheck"> kWh</label>
      </div>
      <table id="compareTable">
        <thead>
          <tr class="tableHead">
            <th></th>
            <th colspan="2">Eerste maand</th>
            <th colspan="2">Tweede maand</th>
          </tr>
          <tr id="indicatorsTable" class="tableHead">
            <td>Apparaat</td>
            <td>Min.</td>
            <td class="WhHead Wh">Wh</td>
            <td class="kWhHead kWh">kWh</td>
            <td>Min.</td>
            <td class="WhHead Wh">Wh</td>
            <td class="kWhHead kWh">kWh</td>
          </tr>
        </thead>
        <tbody>
          <tr id="Storagetank_Mixe">
            <td>Storagetank Mixe</td>
            <td class="first timeON">-</td>
            <td class="first kWh">-</td>
            <td class="first Wh">-</td>
            <td class="second timeON">-</td>
            <td class="second kWh">-</td>
            <td class="second Wh">-</td>
          </tr>
          <tr id="Storagetank_Feed">
            <td>Storagetank Feed</td>
            <td class="first timeON">-</td>
            <td class="first kWh">-</td>
            <td class="first Wh">-</td>
            <td class="second timeON">-</td>
            <td class="second kWh">-</td>
            <td class="second Wh">-</td>
          </tr>
          <tr id="Digester_Mixer">
            <td>Digester Mixer</td>
            <td class="first timeON">-</td>
            <td class="first kWh">-</td>
            <td class="first Wh">-</td>
            <td class="second timeON">-</td>
            <td class="second kWh">-</td>
            <td class="second Wh">-</td>
          </tr>
          <tr id="Digester_Heater_1">
            <td>Digester Heater 1</td>
            <td class="first timeON">-</td>
            <td class="first kWh">-</td>
            <td class="first Wh">-</td>
            <td class="second timeON">-</td>
            <td class="second kWh">-</td>
            <td class="second Wh">-</td>
          </tr>
          <tr id="Digester_Heater_2">
            <td>Digester Heater 2</td>
            <td class="first timeON">-</td>
            <td class="first kWh">-</td>
            <td class="first Wh">-</td>
            <td class="second timeON">-</td>
            <td class="second kWh">-</td>
            <td class="second Wh">-</td>
          </tr>
          <tr id="Gaspump">
            <td>Gaspump</td>
            <td class="first timeON">-</td>
            <td class="first kWh">-</td>
            <td class="first Wh">-</td>
            <td class="second timeON">-</td>
            <td class="second kWh">-</td>
            <td class="second Wh">-</td>
          </tr>
          <tr id="Mode_Auto">
            <td>Mode Auto</td>
            <td class="first timeON">-</td>
            <td class="first kWh">-</td>
            <td class="first Wh">-</td>
            <td class="second timeON">-</td>
            <td class="second kWh">-</td>
            <td class="second Wh">-</td>
          </tr>
          <tr id="Mode_Manual">
            <td>Mode Manual</td>
            <td class="first timeON">-</td>
            <td class="first kWh">-</td>
            <td class="first Wh">-</td>
            <td class="second timeON">-</td>
            <td class="second kWh">-</td>
            <td class="second Wh">-</td>
          </tr>
          <tr id="Mode_Stop">
            <td>Mode Stop</td>
            <td class="first timeON">-</td>
            <td class="first kWh">-</td>
            <td class="first Wh">-</td>
            <td class="second timeON">-</td>
            <td class="second kWh">-</td>
            <td class="second Wh">-</td>
          </tr>
          <tr id="System_Started">
            <td>System Started</td>
            <td class="first timeON">-</td>
            <td class="first kWh">-</td>
            <td class="first Wh">-</td>
            <td class="second timeON">-</td>
            <td class="second kWh">-</td>
            <td class="second Wh">-</td>
          </tr>
          <tr id="Additive_Pump">
            <td>Additive Pump</td>
            <td class="first timeON">-</td>
            <td class="first kWh">-</td>
            <td class="first Wh">-</td>
            <td class="second timeON">-</td>
            <td class="second kWh">-</td>
            <td class="second Wh">-</td>
          </tr>
          <tr id="All_total">
            <td>Total</td>
            <td class="first timeON">-</td>
            <td class="first kWh">-</td>
            <td class="first Wh">-</td>
            <td class="second timeON">-</td>
            <td class="second kWh">-</td>
            <td class="second Wh">-</td>
          </tr>
        </tbody>
      </table>
    </section>
  </aside>

  <div class="graph-group">
    <section class="filters"></section>

    <section id="graph">
      <svg id="history-graph"></svg>
    </section>
  </div>
=======
<main>
  <section id="date-range">
    <div class="first">
      <label for="firstYear">Jaar</label>
      <select name="firstYear" id="firstYear">
        <option selected value='2017'>2017</option>
        <option value='2018'>2018</option>
      </select>

      <label for="firstMonth">Maand</label>
      <select name="firstMonth" id="firstMonth">
        <option selected value="0">selecteer maand</option>
        <option value='1'>janaury</option>
        <option value='2'>februari</option>
        <option value='3'>maart</option>
        <option value='4'>april</option>
        <option value='5'>mei</option>
        <option value='6'>juni</option>
        <option value='7'>juli</option>
        <option value='8'>augustus</option>
        <option value='9'>september</option>
        <option value='10'>oktober</option>
        <option value='11'>november</option>
        <option value='12'>december</option>
      </select>

      <label for="lastYear">Jaar</label>
      <select name="lastYear" id="lastYear">
        <option selected value="0">selecteer jaar</option>
        <option value='2017'>2017</option>
        <option value='2018'>2018</option>
      </select>

      <label for="lastMonth">Maand</label>
      <select name="lastMonth" id="lastMonth">
        <option selected value="0">selecteer maand</option>
        <option value='1'>janaury</option>
        <option value='2'>februari</option>
        <option value='3'>maart</option>
        <option value='4'>april</option>
        <option value='5'>mei</option>
        <option value='6'>juni</option>
        <option value='7'>juli</option>
        <option value='8'>augustus</option>
        <option value='9'>september</option>
        <option value='10'>oktober</option>
        <option value='11'>november</option>
        <option value='12'>december</option>
      </select>
    </div>
    <div class="second"></div>
  </section>
  <section id="graph">
    <svg id="history-graph"></svg>
  </section>
>>>>>>> Stashed changes
</main>

<%- include ../partials/foot.ejs %>
