<%- include partials/head.ejs %>

<main>
  <table>
    <tr>
      <td>Naam</td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <td>Username</td>
      <td><%= user.username %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= user.email %></td>
    </tr>
  </table>

  <form method="post" action="/user/bag-height">
    <label for="max-bag-height">Hoogte waarbij ik notificaties wil ontvangen:</label>
    <input name="bag-height" id="max-bag-height" type="text">
    <input type="submit" value="opslaan">
  </form>
</main>

<%- include partials/foot.ejs %>
