<%- include partials/head.ejs %>

<main>
  <table>
    <tr>
      <td>Naam</td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <td>Username</td>
      <td><%= user.username %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= user.email %></td>
    </tr>
  </table>
</main>

<%- include partials/foot.ejs %>
